<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Event</title>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="container">

    <div class="row user-dp-section">
      <div>
        <div class="col">
          <img class="user-dp"
            src=https://cdn.dribbble.com/users/1914549/screenshots/5401794/media/9c4dd34a7bc125f4e5126e416c3a8320.gif />
        </div>
      </div>
    </div>

    <div class="row child-section">
      <div class="col">

        <div class="form-title">
          <p class="form-title-text">Edit Event</p>
        </div>

        <div class="form-input">
          <div>
            <form method="POST" enctype="multipart/form-data">
              <input type="text" id="title" name="title" placeholder="Title" required /><br />
              <br>
              <input type="text" id="date" name="date" placeholder="Entry Date (DD-MM-YYYY)"
                pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" required /><br />
              <br>
              <input type="text" id="time" name="time" placeholder="Entry Time 24HR (00:00)" pattern="[0-9]{2}:[0-9]{2}"
                required /><br />
              <br>
              <input type="text" id="description" name="description" placeholder="Description (Word Limit 60)" size="60"
                required /><br />
              <br>
              <label for="photo">Photograph:</label>
              <input type="file" name="image" required />
              <br><br>
              <input type="submit" value="Submit" />
            </form>
          </div>
        </div>

      </div>
    </div>

    <div class="row menu">
      <div>
        <div class="col">
          <form class="form-menu-items" action="/user">
            <button type="submit" class="btn"><i class="fa fa-arrow-circle-left"></i> Back </button>
          </form>
        </div>
      </div>
    </div>
    </div>
</body>

</html>