<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Failed</title>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="container">

    <div class="row user-dp-section">
      <div>
        <div class="col">
          <img class="user-dp" src=https://cdn.dribbble.com/users/251873/screenshots/9388228/media/0d882a65a39bbdd294edc7fee5da59c6.gif />
        </div>
      </div>
    </div>

    <br>

    <div class="row child-section">
      <div class="col">

        <div class="form-title">
          <p class="form-title-text">Login Failed</p>
        </div>       

        <div class="form-alert">
          <div>
            <p> Username does not exist. </p>
            
            <form action="/login">
              <input type="submit" value="Return" />
            </form>
            
          </div>
        </div>

      </div>
    </div>

</div>
</body>
</html>